:root {
  --dark-blue: #2c5c8f;
  --white: #fff;
  --dark-gray: #48484d;
  --red: #cc4b4e;
  --yellow: #ede4a1;
  --light_blue: #b8c9e6;
  --green: #33a33c;
  --purple: #504c9c;
  --medium-blue: #1bded8;
  --hover-blue: #142a42;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}
